{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6"><h1>Sortir.Com</h1></div>
            <div class="col">
                <ul class="nav justify-content-end">

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_city_gestion') }}">Villes</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_campus_gestion') }}">Campus</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('main_home') }}">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('user_profil') }}">Mon profil</a></li>

                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
                </ul>
            </div>
        </div>
        <div class="vide"></div>
            <div>
                <h2><u>Filtres les sorties</u></h2>

                <div class="filtre-campus">
                    {% if form is defined %}

                        <br>
                        <div class="filtre-campus">

                            //todo: forms home page

                        </div>

                    {% endif %}

                </div>
            </div>
            <div class="vide"></div>
            <div>

                <h2><u>Résultat des Sorties</u></h2>
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Type de sortie</th>
                        <th>oragnisateur</th>
                        <th>date début</th>
                        <th>date de fin</th>
                        <th>Nombre de places</th>
                        <th>Etat</th>
                        <th>Inscription</th>

                    </tr>
                    {% for s in sortie %}
                        <tr>
                            <td>{{ s.nom }}</td>
                            <td>{{ s.organisateur.prenom }}</td>
                            <td>{{ s.dateLimiteInscription | date('d/m/y H:i') }}</td>
                            <td>{{ s.dateHeureDebut|date('d/m/Y H:i') }}</td>
                            <td>{{ s.nbInscriptionsMax }}</td>
                            <td>{{ s.etat.libelle }}</td>
                            <td>
                                {% if s.etat.libelle == 'Ouverte' %}
                                    <a href="{{ path('app_sInscrire', {'id': s.id}) }}">S'inscrire</a>
                                {% else %}
                                    <a href="{{ path('main_home', {'id': s.id}) }}">Créer</a>
                                {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
{% endblock %}

