{% extends 'base.html.twig' %}

{% block body %}

<div class="container_accueil">
    <div >
        <div id="participant"> Date du jour : {{ "now"|date("m/d/Y")  }}</div>
        <div  id="participant"> Participant : {{ app.user.prenom }} &nbsp; {{ app.user.nom }}</div>
    </div>
    {{ form_start(form) }}

            <table name="tableAccueil" class="tableAccueil">
                <tr>
                    <td> {{ form_row(form.campus) }} </td>
                    <td rowspan="3">
                       <table>
                           <tr>  <td> &nbsp; </td> </tr>
                           <tr>  <td> {{ form_widget(form.S0) }} {{ form_label(form.S0) }} </td> </tr>
                           <tr>  <td> {{ form_widget(form.S1) }} {{ form_label(form.S1) }} </td> </tr>
                           <tr>  <td> {{ form_widget(form.S2) }} {{ form_label(form.S2) }} </td> </tr>
                           <tr>  <td> {{ form_widget(form.S3) }} {{ form_label(form.S3) }} </td> </tr>
                       </table>
                    </td>

                </tr>
                <tr>
                    <td> {{ form_row(form.nom) }} </td>
                </tr>
                <tr>
                    <td>
                        Entre : {{ form_widget(form.entre) }}
                            et : {{ form_widget(form.et) }}
                    </td>
                </tr>
            </table>

    {{  form_row(form.Rechercher) }}

        {{ form_end(form) }}
</div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits / Places</th>
            <th>État</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
            <td>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
            {#  <td>{{ sortie.inscriptions.count }} / {{ sortie.nbInscriptionMax }}</td> #}
            <td>{% if sortie.etat == 'Ouverte' %}<span class="badge badge-success">{{ sortie.etat }}</span>{% endif %}
                {% if sortie.etat == 'Clôturée' %}<span class="badge badge-secondary">{{ sortie.etat }}</span>{% endif %}
                {% if sortie.etat == 'Annulée' %}<span class="badge badge-danger">{{ sortie.etat }}</span>{% endif %}
                {% if sortie.etat == 'Passée' %}<span class="badge badge-secondary">{{ sortie.etat }}</span>{% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    $('.js-datepicker').datepicker({
        format:'yyyy.MM.dd'
    });
    $('.datetimepicker').datetimepicker({
        format: 'YYYY-MM-DD hh:mm:ss'
    });
</script>
{% endblock %}


