{% extends 'base.html.twig' %}

    {% block title %}
        {{ parent() }}
    {% endblock %}

{% block body %}
<div id="body">
    <div class="container-fluid">
        <div>
            <div class="vide"></div>

            <h2><u>Filtrer les villes</u></h2>
            {{ form_start(cityForm) }}
            {{ form_label(cityForm.nom, 'Nom de la ville') }}
            {{ form_widget(cityForm.nom) }}
            {{ form_label(cityForm.codePostal, 'Code postal') }}
            {{ form_widget(cityForm.codePostal) }}
            {#        <button type="submit" class="btn btn-primary">Rechercher</button> #}
            {{ form_end(cityForm) }}

        </div>

        <div class="vide"></div>

        {% if app.request.method == 'POST' %}
            <div>
                <h2><u>Résultat de la recherche</u></h2>
                <table class="table table-bordered table-striped table-hover">
                    <th style="width: 30%; border: 1px solid black">Nom</th>
                    <th style="width: 30%; border: 1px solid black">Code Postale</th>
                    <th style="width: 30%; border: 1px solid black">Actions</th>

                    {# ICI ON RÉCUPÈRE TOUS LES VILLES POUR POUVOIR LES MODIFIER #}
                    {% for s in search %}
                    <tr style="border: 1px solid black">
                        <td style="text-align: center; border: 1px solid black">{{ s.nom }}</td>
                        <td style="text-align: center; border: 1px solid black">{{ s.codePostal }}</td>
                        <td style="text-align: center; border: 1px solid black">
                            <a href="{{ path('app_modif_city', {"id": s.id}) }}" style="text-decoration: none">
                                <button class="btn btn-primary" type="submit">Modifier</button>
                            </a>
                            <a href="{{ path('app_citygestion_delete', {"id": s.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette ville ???')" style="text-decoration: none">
                                <button class="btn btn-danger">Supprimer</button>
                            </a>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>

                        <td style="width: 30%; border: 1px solid black">
                            {{ form_start(ajoutForm) }}
                            {{ form_label(ajoutForm.nom, 'Nom de la ville') }}
                            {{ form_widget(ajoutForm.nom) }}

                        </td>
                        <td style="width: 30%; border: 1px solid black">
                            {{ form_label(ajoutForm.codePostal, 'Code postal') }}
                            {{ form_widget(ajoutForm.codePostal) }}
                        </td>
                        <td style="width: 30%; border: 1px solid black">
                            {{ form_end(ajoutForm) }}
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

